 <h1>Thiru Kural</h1>
    <div>
      <div>{{number}}</div>
      &nbsp;
      <div>{{chapter}}</div>
      &nbsp;
      <div>{{verse}}</div>
      &nbsp;
      <div>{{explain}}</div>
      &nbsp;
    </div>